body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background: url(bebe3.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
::selection{
    background: black;
    color: white;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 36vh;
}

.blue{
    color: #4285F4;
    font-size: 2cm;
    font-weight: 900;
    text-shadow: 3px 3px 5px  grey;
    cursor: pointer;
    
}
.green{
    color: #0F9D58;
    font-size: 2cm;
    font-weight: 900;
    text-shadow: 3px 3px 5px  grey;
    cursor: pointer;
}
.yellow{
    color: #F4B400;
    font-size: 2cm;
    font-weight: 900;
    text-shadow: 3px 3px 5px grey;
    cursor: pointer;
}
.red{
    color: #DB4437;
    font-size: 2cm;
    font-weight: 900;
    text-shadow: 3px 3px  5px grey;
    cursor: pointer;
}





@media screen and (max-width:320px) and (max-height:480px){
    body{
        background: url(new9.jpg);
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
    }
    .blue , .green , .yellow , .red{
        font-size: 0.8cm;
    }

}


/* @media screen and (max-width:720px) and (max-height:1520px){
    body{
        background: url(new6.png);
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
    }
    .blue , .green , .yellow , .red{
        font-size: 1.3cm;
    }
} */



input{
    height: 35px;
    width: 50vw;
    border-radius: 10px;
    border: none;
    opacity: 0.2;
    margin: 30px 0px 15px 0px;
}

input:focus{
    box-shadow: 3px 3px 7px 3px grey;
    opacity: 1;
    outline: none;
}

input:hover{
    box-shadow: 3px 3px 7px 3px grey;
}
button{
    border: none;
    height: 32px;
    width: 80px;
    border-radius: 10px;
    opacity: 0.2;
    cursor: pointer;
}


button:focus{
    box-shadow: 3px 3px 7px 3px grey;
    opacity: 1;
    outline: none;
}


button:hover{
    box-shadow: 3px 3px 7px 3px grey;
}

.searchpart{
display: flex;
flex-direction: column;
align-items: center;
}

.change{
    opacity: 1;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.change:hover{
    box-shadow: 3px 3px 7px lightskyblue;
}

